*.log
# gitbook命令生成的文件
_book
.vscode
.idea
# vscode - plugin - local-history
.history
# mac
.DS_Store

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#
# Sublime Test
#
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

#
# C / C++
#

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*
*.dylib

# Fortran module files
*.sum

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app

/**/build
/**/build.*

.tags

# 忽略 Python 缓存文件
__pycache__/
*.py[cod]

# 忽略 mypy 缓存
.mypy_cache/

# 忽略 pytest 缓存
.pytest_cache/

# 忽略虚拟环境文件
venv/
env/

# 如果 uv 工具生成了特定缓存文件，请添加规则
.cache/

.script