[user]
	name = username
	email = username@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	ignorecase = false
	# 配置 diff 为 delta
	pager = delta 
	editor = nvim

; 可以使用开源项目 https://github.com/GitAlias/gitalias 中的相关配置
[alias]
	st = status
	l = log --color --graph --decorate --pretty=oneline --abbrev-commit
	la = log --color --graph --decorate --pretty=oneline --abbrev-commit --all
	l0 = log --color --graph --decorate --pretty=oneline --abbrev-commit -U0
	lb = log --color --graph --decorate --pretty=oneline --abbrev-commit --all --simplify-by-decoration
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset | %C(bold)%an' --abbrev-commit --date=relative
	dl = log --date-order --color --graph --decorate --pretty=oneline --abbrev-commit
	dla = log --date-order --color --graph --decorate --pretty=oneline --abbrev-commit --all
	dlb = log --date-order --color --graph --decorate --pretty=oneline --abbrev-commit --all --simplify-by-decoration
	dlg = log --date-order --color --graph --decorate
	d = diff --color
	dc = diff --color --cached
	d0 = diff --color --unified=0
	ci = commit --verbose
	co = checkout
	tr = checkout --track
	s = status --short
	last = log -1 HEAD

# diff 相关的配置
# delta https://github.com/dandavison/delta
[interactive]	
	diffFilter = delta --color-only

[merge]
	conflictStyle = zdiff3

[delta]
  ; 使用分页
  paging = always
  ; 启用 n 跳转到下一个
  navigate = true
  ; 行号
  line-numbers = true 
  ; 并排对比视图
  side-by-side = true 
  ; 主题 
  syntax-theme = Dracula
  ; 背景颜色
  dark = true
  ; light = true
  ; auto-detection = true

[diff]
	colorMoved = default

; tig 配置  
[tig "bind"] 
  generic = d >git show %(commit)
